# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# whatsapp modules
.wwebjs_auth
.wwebjs_cache
/tokens/alf/Default/Cache/Cache_Data/index-dir/the-real-index
/tokens/alf/Default/Cache/Cache_Data/2cb96e8a9901cb3d_0
/tokens/alf/Default/Cache/Cache_Data/4d42b584b4cfb658_0
/tokens/alf/Default/Cache/Cache_Data/6c7e8e7818ebc5a9_0
/tokens/alf/Default/Cache/Cache_Data/7de3a63de48c220f_0
/tokens/alf/Default/Cache/Cache_Data/9e9901ad0807ca04_0
/tokens/alf/Default/Cache/Cache_Data/09a4fa81986b8d72_0
/tokens/alf/Default/Cache/Cache_Data/37ff911e57df6217_0
/tokens/alf/Default/Cache/Cache_Data/046d20e93f71172a_0
/tokens/alf/Default/Cache/Cache_Data/82a1c5319d1cdf18_0
/tokens/alf/Default/Cache/Cache_Data/355e514ae90fe1ff_0
/tokens/alf/Default/Cache/Cache_Data/3608a0d9f7ff8387_0
/tokens/alf/Default/Cache/Cache_Data/5926afb35a62d4a2_0
/tokens/alf/Default/Cache/Cache_Data/385480cbb54afbd6_0
/tokens/alf/Default/Cache/Cache_Data/827289adbf3c8dae_0
/tokens/alf/Default/Cache/Cache_Data/a6db4734ca63af36_0
/tokens/alf/Default/Cache/Cache_Data/abab3a6fbb94c849_0
/tokens/alf/Default/Cache/Cache_Data/b2f96697a13707c0_0
/tokens/alf/Default/Cache/Cache_Data/c471e10e6efe7aca_0
/tokens/alf/Default/Cache/Cache_Data/e32c9ee20108e5e4_0
/tokens/alf/Default/Cache/Cache_Data/feebd922b8d9fe9e_0
/tokens/alf/Default/Cache/Cache_Data/index
/tokens/alf/Default/Code Cache/js/index-dir/the-real-index
/tokens/alf/Default/Code Cache/js/6fe633fcc10ca46b_0
/tokens/alf/Default/Code Cache/js/07dbc4fbf3f78127_0
/tokens/alf/Default/Code Cache/js/09f73eabf7be04f2_0
/tokens/alf/Default/Code Cache/js/52e880f1253c470c_0
/tokens/alf/Default/Code Cache/js/75dfd2e6c713735c_0
/tokens/alf/Default/Code Cache/js/95c005d836f1d504_0
/tokens/alf/Default/Code Cache/js/10005bb3e37c1eb9_0
/tokens/alf/Default/Code Cache/js/0638417e5cf75ba8_0
/tokens/alf/Default/Code Cache/js/index
/tokens/alf/Default/Code Cache/wasm/index-dir/the-real-index
/tokens/alf/Default/Code Cache/wasm/index
/tokens/alf/Default/databases/Databases.db
/tokens/alf/Default/databases/Databases.db-journal
/tokens/alf/Default/DawnCache/data_0
/tokens/alf/Default/DawnCache/data_1
/tokens/alf/Default/DawnCache/data_2
/tokens/alf/Default/DawnCache/data_3
/tokens/alf/Default/DawnCache/index
/tokens/alf/Default/File System/Origins/000003.log
/tokens/alf/Default/File System/Origins/CURRENT
/tokens/alf/Default/File System/Origins/LOCK
/tokens/alf/Default/File System/Origins/LOG
/tokens/alf/Default/File System/Origins/MANIFEST-000001
/tokens/alf/Default/GPUCache/data_0
/tokens/alf/Default/GPUCache/data_1
/tokens/alf/Default/GPUCache/data_2
/tokens/alf/Default/GPUCache/data_3
/tokens/alf/Default/GPUCache/index
/tokens/alf/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000032.ldb
/tokens/alf/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000033.log
/tokens/alf/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000035.ldb
/tokens/alf/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/CURRENT
/tokens/alf/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/LOCK
/tokens/alf/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/LOG
/tokens/alf/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/MANIFEST-000001
/tokens/alf/Default/Local Storage/leveldb/000003.log
/tokens/alf/Default/Local Storage/leveldb/CURRENT
/tokens/alf/Default/Local Storage/leveldb/LOCK
/tokens/alf/Default/Local Storage/leveldb/LOG
/tokens/alf/Default/Local Storage/leveldb/MANIFEST-000001
/tokens/alf/Default/PersistentOriginTrials/LOCK
/tokens/alf/Default/PersistentOriginTrials/LOG
/tokens/alf/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/03c67e1d-9ee5-4f65-9f4b-3263eec3907b/index-dir/the-real-index
/tokens/alf/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/03c67e1d-9ee5-4f65-9f4b-3263eec3907b/2a2b7cbbc61290b4_0
/tokens/alf/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/03c67e1d-9ee5-4f65-9f4b-3263eec3907b/6ea66fa5b36b4157_0
/tokens/alf/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/03c67e1d-9ee5-4f65-9f4b-3263eec3907b/92172a9e586cee2a_0
/tokens/alf/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/03c67e1d-9ee5-4f65-9f4b-3263eec3907b/e6039a61e4d2a504_0
/tokens/alf/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/03c67e1d-9ee5-4f65-9f4b-3263eec3907b/index
/tokens/alf/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/7edb29b9-2743-4adb-866b-badfb69ec534/index-dir/the-real-index
/tokens/alf/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/7edb29b9-2743-4adb-866b-badfb69ec534/index
/tokens/alf/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/08c5ad3d-d8ba-45cb-a074-1bd9a7437332/index-dir/the-real-index
/tokens/alf/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/08c5ad3d-d8ba-45cb-a074-1bd9a7437332/index
/tokens/alf/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/8882e406-9024-45ca-b28e-d76aaf4d36af/index-dir/the-real-index
/tokens/alf/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/8882e406-9024-45ca-b28e-d76aaf4d36af/index
/tokens/alf/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/e2307062-4548-48ed-9409-38e20011d74a/index-dir/the-real-index
/tokens/alf/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/e2307062-4548-48ed-9409-38e20011d74a/index
/tokens/alf/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/index.txt
/tokens/alf/Default/Service Worker/Database/000003.log
/tokens/alf/Default/Service Worker/Database/CURRENT
/tokens/alf/Default/Service Worker/Database/LOCK
/tokens/alf/Default/Service Worker/Database/LOG
/tokens/alf/Default/Service Worker/Database/MANIFEST-000001
/tokens/alf/Default/Service Worker/ScriptCache/index-dir/the-real-index
/tokens/alf/Default/Service Worker/ScriptCache/2cc80dabc69f58b6_0
/tokens/alf/Default/Service Worker/ScriptCache/2cc80dabc69f58b6_1
/tokens/alf/Default/Service Worker/ScriptCache/index
/tokens/alf/Default/Session Storage/000003.log
/tokens/alf/Default/Session Storage/CURRENT
/tokens/alf/Default/Session Storage/LOCK
/tokens/alf/Default/Session Storage/LOG
/tokens/alf/Default/Session Storage/MANIFEST-000001
/tokens/alf/Default/Shared Dictionary/cache/index-dir/the-real-index
/tokens/alf/Default/Shared Dictionary/cache/index
/tokens/alf/Default/Shared Dictionary/db
/tokens/alf/Default/Shared Dictionary/db-journal
/tokens/alf/Default/shared_proto_db/metadata/000003.log
/tokens/alf/Default/shared_proto_db/metadata/CURRENT
/tokens/alf/Default/shared_proto_db/metadata/LOCK
/tokens/alf/Default/shared_proto_db/metadata/LOG
/tokens/alf/Default/shared_proto_db/metadata/MANIFEST-000001
/tokens/alf/Default/shared_proto_db/000003.log
/tokens/alf/Default/shared_proto_db/CURRENT
/tokens/alf/Default/shared_proto_db/LOCK
/tokens/alf/Default/shared_proto_db/LOG
/tokens/alf/Default/shared_proto_db/MANIFEST-000001
/tokens/alf/Default/WebStorage/QuotaManager
/tokens/alf/Default/WebStorage/QuotaManager-journal
/tokens/alf/Default/Cookies
/tokens/alf/Default/Cookies-journal
/tokens/alf/Default/Preferences
/tokens/alf/DevToolsActivePort
/tokens/social/Default/Cache/Cache_Data/index-dir/the-real-index
/tokens/social/Default/Cache/Cache_Data/2cb96e8a9901cb3d_0
/tokens/social/Default/Cache/Cache_Data/4d42b584b4cfb658_0
/tokens/social/Default/Cache/Cache_Data/6c7e8e7818ebc5a9_0
/tokens/social/Default/Cache/Cache_Data/7de3a63de48c220f_0
/tokens/social/Default/Cache/Cache_Data/9e9901ad0807ca04_0
/tokens/social/Default/Cache/Cache_Data/09a4fa81986b8d72_0
/tokens/social/Default/Cache/Cache_Data/37ff911e57df6217_0
/tokens/social/Default/Cache/Cache_Data/046d20e93f71172a_0
/tokens/social/Default/Cache/Cache_Data/82a1c5319d1cdf18_0
/tokens/social/Default/Cache/Cache_Data/355e514ae90fe1ff_0
/tokens/social/Default/Cache/Cache_Data/3608a0d9f7ff8387_0
/tokens/social/Default/Cache/Cache_Data/5926afb35a62d4a2_0
/tokens/social/Default/Cache/Cache_Data/385480cbb54afbd6_0
/tokens/social/Default/Cache/Cache_Data/827289adbf3c8dae_0
/tokens/social/Default/Cache/Cache_Data/a6db4734ca63af36_0
/tokens/social/Default/Cache/Cache_Data/abab3a6fbb94c849_0
/tokens/social/Default/Cache/Cache_Data/b2f96697a13707c0_0
/tokens/social/Default/Cache/Cache_Data/c471e10e6efe7aca_0
/tokens/social/Default/Cache/Cache_Data/e32c9ee20108e5e4_0
/tokens/social/Default/Cache/Cache_Data/feebd922b8d9fe9e_0
/tokens/social/Default/Cache/Cache_Data/index
/tokens/social/Default/Code Cache/js/index-dir/the-real-index
/tokens/social/Default/Code Cache/js/index
/tokens/social/Default/Code Cache/wasm/index-dir/the-real-index
/tokens/social/Default/Code Cache/wasm/index
/tokens/social/Default/databases/Databases.db
/tokens/social/Default/databases/Databases.db-journal
/tokens/social/Default/DawnCache/data_0
/tokens/social/Default/DawnCache/data_1
/tokens/social/Default/DawnCache/data_2
/tokens/social/Default/DawnCache/data_3
/tokens/social/Default/DawnCache/index
/tokens/social/Default/File System/000/t/Paths/000003.log
/tokens/social/Default/File System/000/t/Paths/CURRENT
/tokens/social/Default/File System/000/t/Paths/LOCK
/tokens/social/Default/File System/000/t/Paths/LOG
/tokens/social/Default/File System/000/t/Paths/MANIFEST-000001
/tokens/social/Default/File System/000/t/.usage
/tokens/social/Default/File System/Origins/000003.log
/tokens/social/Default/File System/Origins/CURRENT
/tokens/social/Default/File System/Origins/LOCK
/tokens/social/Default/File System/Origins/LOG
/tokens/social/Default/File System/Origins/LOG.old
/tokens/social/Default/File System/Origins/MANIFEST-000001
/tokens/social/Default/GPUCache/data_0
/tokens/social/Default/GPUCache/data_1
/tokens/social/Default/GPUCache/data_2
/tokens/social/Default/GPUCache/data_3
/tokens/social/Default/GPUCache/index
/tokens/social/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000143.ldb
/tokens/social/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000169.ldb
/tokens/social/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000170.log
/tokens/social/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/000172.ldb
/tokens/social/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/CURRENT
/tokens/social/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/LOCK
/tokens/social/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/LOG
/tokens/social/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/LOG.old
/tokens/social/Default/IndexedDB/https_web.whatsapp.com_0.indexeddb.leveldb/MANIFEST-000001
/tokens/social/Default/Local Storage/leveldb/000003.log
/tokens/social/Default/Local Storage/leveldb/CURRENT
/tokens/social/Default/Local Storage/leveldb/LOCK
/tokens/social/Default/Local Storage/leveldb/LOG
/tokens/social/Default/Local Storage/leveldb/LOG.old
/tokens/social/Default/Local Storage/leveldb/MANIFEST-000001
/tokens/social/Default/PersistentOriginTrials/LOCK
/tokens/social/Default/PersistentOriginTrials/LOG
/tokens/social/Default/PersistentOriginTrials/LOG.old
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/49c18e84-5986-4f84-a86c-0e49785a10eb/index-dir/the-real-index
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/49c18e84-5986-4f84-a86c-0e49785a10eb/2a2b7cbbc61290b4_0
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/49c18e84-5986-4f84-a86c-0e49785a10eb/6ea66fa5b36b4157_0
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/49c18e84-5986-4f84-a86c-0e49785a10eb/92172a9e586cee2a_0
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/49c18e84-5986-4f84-a86c-0e49785a10eb/e6039a61e4d2a504_0
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/49c18e84-5986-4f84-a86c-0e49785a10eb/index
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/70f55fbe-476d-4d0b-9d9d-0d5976d272f1/index-dir/the-real-index
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/70f55fbe-476d-4d0b-9d9d-0d5976d272f1/2bcb553bbcb51fdc_0
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/70f55fbe-476d-4d0b-9d9d-0d5976d272f1/ff09bf1bf51e78c4_0
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/70f55fbe-476d-4d0b-9d9d-0d5976d272f1/index
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/50873c08-7dda-4b60-920b-e1d941be3b87/index-dir/the-real-index
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/50873c08-7dda-4b60-920b-e1d941be3b87/index
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/index-dir/the-real-index
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/2e2d8756e4879c6e_0
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/5cedb68b32d168fa_0
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/5cedb68b32d168fa_1
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/8b6999931b89733b_0
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/9b5c30109884884b_0
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/171b1ee6de3abd6c_0
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/171b1ee6de3abd6c_1
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/294f51256b4aa50e_0
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/328db917af20d761_0
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/328db917af20d761_1
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/611a5eb78f873af6_0
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/611a5eb78f873af6_1
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/695a62a9e799fa6e_0
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/695a62a9e799fa6e_1
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/30578a14c47e2d29_0
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/136528a4e5da1bcc_0
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/136528a4e5da1bcc_1
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/b89055f930cf9c7b_0
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/b89055f930cf9c7b_1
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/e17400bb038d8b43_0
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/e17400bb038d8b43_1
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/f2550c6c406def03_0
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/b72a3416-0104-44a6-ab89-0490faee7376/index
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/dab340ac-abd9-4c70-a860-380c08d09a5a/index-dir/the-real-index
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/dab340ac-abd9-4c70-a860-380c08d09a5a/index
/tokens/social/Default/Service Worker/CacheStorage/0bf6ab7f94a21cdc9c1649f884333ec20f40a544/index.txt
/tokens/social/Default/Service Worker/Database/000003.log
/tokens/social/Default/Service Worker/Database/CURRENT
/tokens/social/Default/Service Worker/Database/LOCK
/tokens/social/Default/Service Worker/Database/LOG
/tokens/social/Default/Service Worker/Database/LOG.old
/tokens/social/Default/Service Worker/Database/MANIFEST-000001
/tokens/social/Default/Service Worker/ScriptCache/index-dir/the-real-index
/tokens/social/Default/Service Worker/ScriptCache/2cc80dabc69f58b6_0
/tokens/social/Default/Service Worker/ScriptCache/2cc80dabc69f58b6_1
/tokens/social/Default/Service Worker/ScriptCache/index
/tokens/social/Default/Session Storage/000003.log
/tokens/social/Default/Session Storage/CURRENT
/tokens/social/Default/Session Storage/LOCK
/tokens/social/Default/Session Storage/LOG
/tokens/social/Default/Session Storage/LOG.old
/tokens/social/Default/Session Storage/MANIFEST-000001
/tokens/social/Default/Shared Dictionary/cache/index-dir/the-real-index
/tokens/social/Default/Shared Dictionary/cache/index
/tokens/social/Default/Shared Dictionary/db
/tokens/social/Default/Shared Dictionary/db-journal
/tokens/social/Default/shared_proto_db/metadata/000003.log
/tokens/social/Default/shared_proto_db/metadata/CURRENT
/tokens/social/Default/shared_proto_db/metadata/LOCK
/tokens/social/Default/shared_proto_db/metadata/LOG
/tokens/social/Default/shared_proto_db/metadata/LOG.old
/tokens/social/Default/shared_proto_db/metadata/MANIFEST-000001
/tokens/social/Default/shared_proto_db/000003.log
/tokens/social/Default/shared_proto_db/CURRENT
/tokens/social/Default/shared_proto_db/LOCK
/tokens/social/Default/shared_proto_db/LOG
/tokens/social/Default/shared_proto_db/LOG.old
/tokens/social/Default/shared_proto_db/MANIFEST-000001
/tokens/social/Default/WebStorage/QuotaManager
/tokens/social/Default/WebStorage/QuotaManager-journal
/tokens/social/Default/Cookies
/tokens/social/Default/Cookies-journal
/tokens/social/Default/Preferences
/tokens/social/DevToolsActivePort
