
.body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: calc(100% / 7);
    height: 5rem;
    display: flex;
    /*cursor: pointer;*/
    border: 1px solid #eee;
}

.weekDay {
    width: calc(100% / 7);
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
}

.isToday {
    border: 1px solid #ccc;
}

.isSelected {
    background-color: #eee;
}
