/* order-card.module.css */

.customOrderCardContainer {
  border: 1px solid transparent;
}

.customMoveButton {
  background-color: #fff;
  border: 1px solid #007bff;
  color: #007bff;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.paidText {
  color: green;
}

.unpaidText {
  color: red;
}

.highlightedTime {
  background-color: #8fc1df; /* Cor de destaque (pode ser ajustada conforme necessário) */
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  right: 10px;
}