.sideMenu {
    min-width: 75px;
    max-width: 75px;
    height: 100vh;
    min-height: 570px;
    background-color: var(--bs-sidebar-bg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 9;
    -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
    box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
}

@media (max-width: 991.98px) {
    .sideMenu {
        position: fixed;
        bottom: 0;
        height: 60px;
        min-width: 100%;
        min-height: auto;
        display: block;
        border-top: 1px solid var(--bs-border-color);
    }
}

.sideMenu .brandBox {
    text-align: center;
}

@media (max-width: 991.98px) {
    .sideMenu .brandBox {
        display: none;
    }
}

.sideMenu .brandBox .logo {
    line-height: 70px;
}

.sideMenu .brandBox .logoDark {
    display: block;
}

.sideMenu .brandBox .logoLight {
    display: none;
}

.sideMenu .theme-mode-icon:before {
    content: var(--bs-theme-mode-icon);
}

